:root {
  /* 颜色变量 */
  color-scheme: light;
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  /* 颜色变量 */
  /* @each $val, $color in (primary, success, warning, danger, error, info),
    (#409eff, #67c23a, #e6a23c, #f56c6c, #f56c6c, #909399) {
    --el-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --el-color-primary-light-$(i): mix(#fff, $(color), .$(i));
    }
    --el-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --el-color-primary-dark-2: mix(#000, $(color), 0.2);
  } */
  --el-color-primary: #409eff;
  --el-color-primary-light-3: rgb(121, 187, 255);
  --el-color-primary-light-5: rgb(160, 207, 255);
  --el-color-primary-light-7: rgb(198, 226, 255);
  --el-color-primary-light-8: rgb(217, 236, 255);
  --el-color-primary-light-9: rgb(236, 245, 255);
  --el-color-primary-dark-2: rgb(51, 126, 204);
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(149, 212, 117);
  --el-color-success-light-5: rgb(179, 225, 157);
  --el-color-success-light-7: rgb(209, 237, 196);
  --el-color-success-light-8: rgb(225, 243, 216);
  --el-color-success-light-9: rgb(240, 249, 235);
  --el-color-success-dark-2: rgb(82, 155, 46);
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: rgb(238, 190, 119);
  --el-color-warning-light-5: rgb(243, 209, 158);
  --el-color-warning-light-7: rgb(248, 227, 197);
  --el-color-warning-light-8: rgb(250, 236, 216);
  --el-color-warning-light-9: rgb(253, 246, 236);
  --el-color-warning-dark-2: rgb(184, 130, 48);
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: rgb(248, 152, 152);
  --el-color-danger-light-5: rgb(250, 182, 182);
  --el-color-danger-light-7: rgb(252, 211, 211);
  --el-color-danger-light-8: rgb(253, 226, 226);
  --el-color-danger-light-9: rgb(254, 240, 240);
  --el-color-danger-dark-2: rgb(196, 86, 86);
  --el-color-error: #f56c6c;
  --el-color-error-light-3: rgb(248, 152, 152);
  --el-color-error-light-5: rgb(250, 182, 182);
  --el-color-error-light-7: rgb(252, 211, 211);
  --el-color-error-light-8: rgb(253, 226, 226);
  --el-color-error-light-9: rgb(254, 240, 240);
  --el-color-error-dark-2: rgb(196, 86, 86);
  --el-color-info: #909399;
  --el-color-info-light-3: rgb(177, 179, 184);
  --el-color-info-light-5: rgb(200, 201, 204);
  --el-color-info-light-7: rgb(222, 223, 224);
  --el-color-info-light-8: rgb(233, 233, 235);
  --el-color-info-light-9: rgb(244, 244, 245);
  --el-color-info-dark-2: rgb(115, 118, 122);

  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;

  /* border */
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;

  /* font */
  --el-font-size-extra-large: 20px;
  --el-font-size-large: 18px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 13px;
  --el-font-size-extra-small: 12px;
  --el-font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  --el-font-weight-primary: 500;

  /* disabled */
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
}
